version: '3'
services:
  app:
    build:
      context: .
      dockerfile: DockerFile
    ports:
      - "1000:3000"
    environment:
      - DATABASE_USER=root
      - DATABASE_PASS=root
      - DATABASE_URL=mysql://root:root@db:3306/asar
      - JWT_PASS=StorySaz@flutterFarsi.INC
      - OTP_LENGTH=4
      - NODE_ENV=development
      - APP_STATE=dev
      - PORT=3000
      - UPLOAD_STATE=liara
    volumes:
      - './upload:/app/public/upload'
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=asar
    ports:
      - "5230:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "db"]
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 10s

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    environment:
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    ports:
      - "5120:80"
    depends_on:
      - db

volumes:
  db_data: {}
